<!DOCTYPE html>
<html>
<head>
  <title>Purchase Receipt</title>
</head>
<body>
  <h1>Thank you for you purchase,</h1>
  <p>
    Your order consisted of,<br>
    <% @order.line_items.each do |item| %>
    <%= item.product.name%> (<%=item.quantity%>)<br>
    <%end%>
  </p>
  <p>Your order came to $<%=@order.total%></p>
  <p>Thank you for you patronage</p><br>
  <h4>The Jungle Staff</h4>
</body>
</html>
